/* Example from: https://codeburst.io/tutorial-make-a-bouncing-ball-entirely-with-css-1e7e3c853a50 */

body{
  display: flex;                                          /* Use Flexbox              */
  justify-content: center;                                /* Center Horizontally      */
}

.ball{
  width: 100px;
  height: 100px;
  border-radius: 50%;                                    /* Turns a square into a circle */
  background-color: #FF5722;                             /* Sets color to Orange      */
/* adding the keyframe bounce */

  animation: bounce 1s cubic-bezier(.5,.05,1,0.5);     /* select the animation and duration */
  animation-direction: alternate;                        /* direction alternate (goes back up) */
  animation-iteration-count: infinite;                   /* runs the animation an infinite number of times */
}

/*
  KeyFrames
  1. syntax: @keyframes nameOfAnimation
  2. use from/to to specify a start and ending point
  3. Use transform to translate the ball along a 3 dimensional axis (x,y,z)
  4. add animation to the class
  5. modify the animation with cubic-bezier (http://cubic-bezier.com/#.5,.05,1,.5)
*/

@keyframes bounce{
  from { transform: translate3d(0,0,0);   }
  to { transform: translate3d(0,200px,0); }
}
